/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #1a1c20;
    --background-color: #EEEFF1;
    --link-color: #4a76ee;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Common Style */
.container {
    max-width: 1120px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.section-top {
    text-align: center;
}

.section-top .section-title {
    font-size: 2.5rem;
}

.section-top p {
    width: 900px;
    margin: 0 auto;
}


/* Header Section Style */
#header {
    padding: 30px 0px;
}

#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left a {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
}

nav .right a {
    margin: 0px 15px;
    color: var(--text-color);
}

nav .right a span {
    margin-left: 5px;
}

/* Hero Section Style */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 30px 0px;
}

.hero-section .hero-left {
    flex: 5;
}

.hero-section .hero-left h2 {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.hero-section .hero-left p {
    margin-bottom: 20px;
    text-align: justify;
}


.hero-section .hero-left .links {
    display: flex;
    gap: 20px;
}

.hero-section .hero-left .links a {
    border: 2px solid var(--link-color);
    padding: 5px 15px;
    border-radius: 5px;
}

.hero-section .hero-left .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);

}

.hero-section .hero-right {
    flex: 3;
    display: flex;
    justify-content: right;
}

.hero-section .hero-right img {
    width: 350px;
    border-radius: 50%;
}

/* Skill Section Style */
#skills-section {
    padding: 30px 0;
}

.skills {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d3d3d3;
    padding: 10px 20px;
    border-radius: 5px;
}

.skill img {
    width: 30px;
    margin-right: 10px;
}

.skills .skill span {
    font-size: 1.2rem;
}

/* Projects Section Style */
#projects-section {
    padding: 30px 0px;
}

.projects {
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.projects .project {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #aaa1a1;
    flex: 1;
}

.projects .project h3 {
    margin-bottom: 10px;

}

.projects .project p {
    margin-bottom: 15px;
}

.projects .project div a {
    border: 1px solid var(--link-color);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

/* Footer Section */
#footer {
    background: #000;
    padding: 20px;
    text-align: center;
    color: var(--background-color);
}